* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 14px;
}
mark {
  background-color: rgb(250, 220, 239);
}
header,
footer {
  background: #0f0007;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}
.display {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 1rem;
}
.main {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  flex: 1;
  padding: 1rem;
}
.details > * {
  margin-top: 1rem;
}
a {
  text-decoration: none;
  padding-inline: 20px;
  color: whitesmoke;
}

a:hover,
a:visited {
  color: burlywood;
}

section {
  width: 50%;
}

@media (max-width: 768px) {
  header,
  footer {
    padding: 0.2rem;
  }
  a {
    padding-inline: 10px;
  }

  .main {
    width: 100%;
    padding: 0.5rem;
    flex-direction: column;
  }
  section {
    width: 100%;
  }
  .section2 {
    margin-top: 20px;
  }
}
